body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;

    margin: auto;
}
.heading-info {
    width: 960px;
    margin: auto;
    border: 1px, solid, #dddddd; 
   
}
h1 {
    height: 35px;
    background-color: #4aaaa5;
  
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 10px;
    float: left;
    text-align: left;
    margin: auto;
    
}

.content {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    width: 960px;
    margin: auto;
}

.links {
    width: 70%;
    float: left;
    padding: 20px;
}

h2 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    margin-bottom: 20px;
}


a:link{ 
    color: #777777
}

a:visited{
    color: lightcoral;
}

a:hover{
    color: lightseagreen;
}

a:active{
    color: blue;
}

.profile-image {
    float: left;
}
